@charset "utf-8";
/* index css - pallete by http://www.colourlovers.com/palette/1542449/fighting_the_9-5.

/* block styling */

body {
	background-color: #475959;
	text-align: center;
}

#wrapper {
	background-color: #262626;
	padding-top: 2%;
	padding-bottom: 78px; /*todo: find out why wrapper isn't containing footer*/
	position: relative;
}

#content {
	list-style-position: inside;
	font-family: "Open Sans";
}

/* end block styling */

/* header */

header {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1%;
}

header h1 {
	text-shadow: 3px 5px 10px #475959;
	color: #9DC4C4;
	font-size: 48px;
	font-family: 'Orbitron', sans-serif;
	margin-top: 3%;
	margin-bottom: 6%;
}

header h2 {
	text-shadow: 2px 1px 1px #475959;
	color: #689493;
	font-style: oblique;
}

/* end header */

/* nav */
nav {
	position: relative;
	margin: 20px 0;
	font-family: "Open Sans";
}

nav ul {
	padding: 3px;
	border: solid;
	border-width: thin;
	border-color: #689493;
}
nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #EBDDC7;
	line-height: 100%;
}
nav a:hover {
	color: #000;
}

nav .current a {
	background: #555152;
	color: #fff;
	border-radius: 5px;
}
/* end nav */

/* content styling */

#content {
color: #EBDDC7
}

#content ul {

}

footer {
	padding-top: 3%;
	font-family: "Open Sans";
}

footer #leftfooter {
	float: left;
	text-align: left;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	left: 0;
	-webkit-filter: invert(100%); /*black to white*/
  filter: invert(100%);
}

footer #middlefooter {
	float: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

footer #rightfooter {
	float: right;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	text-shadow: 1px 0px 0px #787878 , 0px 1px 0px #787878, -1px 0px 0px #787878, 
  0px -1px 0px #787878, 1px 4px 5px #bebebe;
}

footer #rightfooter p {
	-webkit-filter: invert(100%); /*black to white*/
  filter: invert(100%);
}
/*end content styling */